<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <tbody>
        <% if( list.length == 0) {%>
          <h2>No hay libros</h2>
       <% } else { %>
        <table class="table-primary">
          <thead>
            <tr>
              <th scope="col">Titulo</th>
              <th scope="col">Paginas</th>
              <th scope="col">Autor</th>
              <th scope="col">Imagen</th>
              <th scope="col">Precio</th>
              <th scope="col">Stock</th>
            </tr>
          </thead>
            <% list.forEach((libro)=>{ %>
            <tr>
              <td><b><%= libro.title%></b</td>
              <td><%= libro.page%></td>
              <td><%= libro.author%></td>
              <td><img src="<%= libro.thumbnail%>" width="100px" height="150px"></td>
              <td><%= libro.price%></td>
              <td><%= libro.stock%></td>
</body>
</html>